body {
	background: #222;
	color: #eee;

	font-family: sans-serif;

	text-align: center;
}

.panels {
	display: inline-block;

	list-style: none;
	margin: 0px;
	padding: 0px;

	width: 90%;
}

.pane {
	display: inline-block;
	width: 30%;

	vertical-align: top;

	margin: 0px 8px;
	padding: 4px;

	background: #1b1b1b;
	border-top: 4px solid royalblue;
	box-shadow: 0px 0px 4px black;
}

.pane>h2 {
	margin: 8px 0px;
}

.pane>.content {
	text-align: justify;

	background: #222;
	padding: 8px;
}

.mode-list {
	display: table;

	width: 100%;

	list-style: none;
	margin: 0px;
	padding: 0px;
}

.mode-list>li {
	display: table-cell;
	width: 33%;
	padding: 12px 0px;

	text-align: center;

	background: #1b1b1b;

	cursor: default;

	border-bottom: 4px solid #1b1b1b;
	transition: border-bottom-color 200ms, text-shadow 100ms;
}

.mode-list>li:hover {
	text-shadow: 0px 0px 16px;
}

.mode-list>li.selected {
	border-bottom-color: royalblue;
}

#graph-cvs {
	display: inline-block;

	margin: 0px;
	padding: 0px;

	width: 100%;
	height: 150px;
}

#status>.content>table {
  border-collapse: collapse;
	width: 100%;
}

#status>.content>table td, #status>.content>table th {
	border: 1px solid #555;
	padding: 4px;
	text-align: center;
}

#refresh-btn {
	display: inline-block;

	font-size: 0.75em;

	float: right;

	background: royalblue;
	padding: 2px 4px;
	margin-right: 2px;

	border-radius: 2px;

	cursor: default;

	transition: background 100ms;
}

#refresh-btn:hover {
	background: #5780f9;
}

#refresh-btn>i {
	transition: transform 0ms;
}

#refresh-btn:hover>i {
	transform: rotateZ(180deg);
	transition: transform 500ms;
}

.mode-panels {
	list-style: none;
	padding: 0px;
}

.mode-panels>li {
	display: none;
	padding: 8px;
	background: #1b1b1b;
}

.mode-panels>li.selected {
	display: block;
}

.mode-panels>li {
	color: #bbb;
}

.button {
	display: inline-block;
	background: #333;
	padding: 8px;
	border: 2px solid #333;
	
	cursor: default;
	
	transition: border-color 100ms;
	-o-transition: border-color 100ms;
	-ms-transition: border-color 100ms;
	-moz-transition: border-color 100ms;
	-webkit-transition: border-color 100ms;
}

.button:hover {
	border-color: #444;
}
